<%- include /include/head.html %>
<div class="g-bd2">
    <div class="g-in">
        <div class="g-sd">
            <%- include /include/cssnav.html %>
        </div>
        <div class="g-mn">
            <div class="g-mnc">
                <h2 class="u-ttb2">CSS规范 - 典型错误</h2>
                <h3 class="u-ttb3">不符合witch规范的选择器用法</h3>
                <p>.class{}</p>

                <p>不要以一个没有类别的样式作为主选择器，这样的选择器只能作为后代选择器使用，比如.m-xxx .class{}。</p>
                <p>.m-xxx div{}</p>

                <p>不要以没有语义的标签作为选择器，这会造成大面积污染，除非你可以断定现在或将来你的这个选择器不会污染其他同类。</p>
                <p>.g-xxx .class{}</p>

                <p>不要在页面布局中使用后代选择器，因为这个后代选择器可能会污染里面的元素。</p>
                <p>.g-xxx .m-yyy{}.g-xxx .u-yyy{}</p>

                <p>不要用布局去控制模块或元件，模块和元件应与布局分离独立。</p>
                <p>.m-xxx .f-xxx{}.m-xxx .s-xxx{}</p>

                <p>不要通过模块或其他类来重定义或修改或添加已经定义好的功能类选择器和皮肤类选择器。</p>
                <p>.m-xxx .class .class .class .class{}</p>

                <p>不要将选择器写的过于冗长，这会额外增加文件大小并且限制了太小范围的选择器，使树形结构过于严格应用范围过于局限，建议3-4个长度之内写完。</p>

                <p>选择器并不需要完整反映结构嵌套顺序，相反，能简则简。</p>
                <p>.m-xxx .m-yyy .zzz{}</p>

                <p>不要越级控制，如果.zzz是.m-yyy的后代选择器，那么不允许.m-yyy之外的选择器控制或修改.zzz。</p>

                <p>此时可以使用.m-yyy的扩展来修改.zzz，比如.m-yyy-1 .zzz{}。</p>

                <h3 class="u-ttb3"> 扩展类使用错误</h3>
                <p>扩展类必须和其基类同时使用于同一个节点。</p>
                <p>错误：class="g-xxx g-yyy-1" class="m-xxx-1" class="u-xxx u-yyy-1" class="xxx-yyy"。</p>
                <p> 正确：class="g-xxx g-xxx-1" class="m-xxx m-xxx-1" class="u-yyy u-yyy-1" class="xxx xxx-yyy"。</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>