<%- include /include/head.html %>
<div class="g-bd2">
    <div class="g-in">
        <div class="g-sd">
            <%- include /include/jsnav.html%>
        </div>
        <div class="g-mn">
            <div class="g-mnc">
                <h2 class="u-ttb2">JS规范 - JS前端规范</h2>
                <h3 class="u-ttb3">概述</h3>
                <p>
                    本页面为JS前端规范
                </p>
                <h3 class="u-ttb3">文件引用</h3>
                <p>
                    代码尽量不出现在HTML中<br/>
                    JS引用尽量出现在页面底部
                </p>
                <h3>事件定义</h3>
                <p>
                    请尽量不要使用onclick=""的写法，尽量使用jQuery的事件绑定
                </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>