<%- include /include/head.html %>
<style>
    .m-main{width: 100%;height:500px;clear: both;margin-top:100px; }
    .m-main .left{width: 200px;height:500px;float:left;background-color:#DE9317;position: relative;}
    .m-main .center{width: 200px;height:500px;float:left;background:#FF0097;position: relative;}
    .m-main .right{width: 100%;height:500px;background-color: #4EB3B9;float:right;margin-left: -400px; }
    .m-main .content{height:100px;background-color: #003366;padding:30px 0 0 50px;color:#ffffff;margin-left: 400px;}
</style>
<div class="m-main">
    <div class="left">

    </div>
    <div class="center">

    </div>
    <div class="right">
        <div class="content">
            我是正文区
        </div>
    </div>
</div>

</body>
</html>