<%- include /include/head.html %>
<div class="g-bd">
    <div class="g-in">
        <div class="m-intro">
            <h2 class="u-ttb">规范</h2>
            <P>
                你是否常常碰到以下问题：你总是看不懂他写的代码，或者读起来很吃力；你需要改他的代码却无从下手，或总是要去问他这里是什么改了会不会影响其他代码；你和他一起开发一个产品，你总是怕代码和他有冲突或互相影响；你的代码在多次维护任务之后变得越来越臃肿，越来越难以维护。
            </P>
            <p>
                解决以上问题只需一种方法——读我们的规范！
            </p>
        </div>
        <div class="m-enter">
            <ul class="f-cb">
                <li><a href="">
                    <h3>CSS规范</h3>
                    <p>一系列规则和方法，帮助你架构并管理好样式</p>
                </a></li>
                <li><a href="">
                    <h3>HTML规范</h3>
                    <p>一系列建议和方法，帮助你搭建简洁严谨的结构</p>
                </a></li>
                <li><a href="">
                    <h3>工程师规范</h3>
                    <p>前端页面开发工程时候的工作流程和团队协作规范</p>
                </a></li>
            </ul>

        </div>
    </div>

</div>
</body>
</html>