<%- include /include/head.html %>
<div class="g-bd2">
    <div class="g-in">
        <div class="g-sd">
            <%- include /include/jsnav.html%>
        </div>
        <div class="g-mn">
            <div class="g-mnc">
                <h2 class="u-ttb2">JS规范 - Node规范</h2>
                <h3 class="u-ttb3">异步</h3>
                <p>
                   异步回调第一个参数一定是错误指示<br/>
                   一定要执行传入的回调函数，且只执行一次
                </p>


            </div>
        </div>
    </div>

</div>
</body>
</html>