<%- include /include/head.html %>
<style>
    .m-main-demo{width: 300px;height: 300px;overflow: hidden;position: relative;border:1px solid #999;display: inline;float:left;margin:50px;}
    .m-main-demo p{position: absolute;top:50%;left:50%;margin: 0;padding: 0;}
    .m-main-demo img{position:absolute;top:-50%;left:-50%;display: block;}
    .m-main-demo img.hidden{visibility: hidden;position: static;}
</style>
<div class="m-main-demo">
    <p>
        <img src="/images/1_687602e.jpg" class="hidden"/>
        <img src="/images/1_687602e.jpg" />
    </p>
</div>
<div class="m-main-demo">
    <p>
        <img src="/images/2_c83b3c9.jpg" class="hidden"/>
        <img src="/images/2_c83b3c9.jpg" />
    </p>
</div>
<div class="m-main-demo">
    <p>
        <img src="/images/3_8af768f.jpg" class="hidden"/>
        <img src="/images/3_8af768f.jpg" />
    </p>
</div>

</body>
</html>