<%- include /include/head.html %>
<style>
    input{position:relative;*top:1px;margin:0 4px 0 0;*margin:0 0 0 -4px;font-size: medium;}
</style>
        <div style="width:800px;height:800px;margin: 50px;">
<div style="margin-bottom:1em;line-height:18px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:18px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:18px;</div>
</div>
<div style="margin-bottom:1em;line-height:20px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:20px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:20px;</div>
</div>
<div style="margin-bottom:1em;line-height:30px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:30px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:30px;</div>
</div>
<div style="margin-bottom:1em;line-height:18px;">
    <div style="background:#dfedf0;height:30px;"><input type="radio">单选框line-height:18px;height:30px;</div>
    <div style="background:#ddd;height:30px;"><input type="checkbox">复选框line-height:18px;height:30px;</div>
</div>
<div style="margin-bottom:1em;line-height:20px;">
    <div style="background:#dfedf0;height:30px;"><input type="radio">单选框line-height:20px;height:30px;</div>
    <div style="background:#ddd;height:30px;"><input type="checkbox">复选框line-height:20px;height:30px;</div>
</div>
<div style="margin-bottom:1em;line-height:30px;">
    <div style="background:#dfedf0;height:30px;"><input type="radio">单选框line-height:30px;height:30px;</div>
    <div style="background:#ddd;height:30px;"><input type="checkbox">复选框line-height:30px;height:30px;</div>
</div>
<div style="margin-bottom:1em;line-height:18px;font-size:14px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:18px;font-size:14px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:18px;font-size:14px;;</div>
</div>
<div style="margin-bottom:1em;line-height:20px;font-size:16px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:20px;font-size:16px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:20px;font-size:16px;</div>
</div>
<div style="margin-bottom:1em;line-height:30px;font-size:16px;">
    <div style="background:#dfedf0;"><input type="radio">单选框line-height:30px;font-size:16px;</div>
    <div style="background:#ddd;"><input type="checkbox">复选框line-height:30px;font-size:16px;</div>
</div>
        </div>


</body>
</html>