<%- include /include/head.html %>
<div class="g-bd2">
    <div class="g-in">
        <div class="g-sd">
            <%- include /include/csscodenav.html %>
        </div>
        <div class="g-mn">
            <div class="g-mnc">
                <h2 class="u-ttb2">技巧</h2>
                <h3 class="u-ttb3">css都写在了页面上，请自行查看</h3>
                <ul class="m-csscode">
                    <li><a href="/css/layout7"><img src="/images/thumb7_0e185ec.png" /><br/>图片居中溢出隐藏</a></li>
                    <li><a href="/css/layout8"><img src="/images/thumb8_5618074.png" /><br/>底部对齐列表</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>