<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>代码编写规范</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="/css/reset_d168fd4.css"/>
    <script src="/js/jquery-1.7.1.min_b3560fc.js"></script>
    <script src="/js/common_d41d8cd.js"></script>
</head>
<body class="p-home">
<div class="g-hd">
    <div class="g-in">
        <h1><a href="/">Witch Node前端方案</a></h1>
    </div>
</div>
<div class="g-nv">
    <div class="g-in">
        <ul class="m-nav">
            <li><a href="/">首页</a><i></i></li>
            <li class="first"><a href="/">规范</a><i></i></li>
            <li><a href="/">框架</a><i></i></li>
            <li><a href="/">代码库</a><i></i></li>
        </ul>
    </div>
</div>
<div class="g-bd2">
    <div class="g-in">
        <div class="g-sd">
            <ul class="f-cb1">
                <li><a href="">开发准备</a></li>
                <li><a href="">开发过程</a></li>
                <li><a href="">开发产出</a></li>
            </ul>
        </div>
        <div class="g-mn">
            <div class="g-mnc">
                <h2 class="u-ttb2">工程师规范 - 开发过程</h2>
                <h3 class="u-ttb3">职责任务</h3>
                <p>确定一个页面工程师负责人，他将负责对整个页面开发工作做统筹规划、分配协调等管理工作和主开发职责。<br>
                确认交互原型或视觉效果已经定稿，再开始开发工作。<br>
                如果采取并行模式（视觉设计和页面开发同时进行），则以交互原型定稿为准（当视觉效果定稿后，页面工程师再补充细节），开始分配。<br>
                按页面类型分配，同一类型页面分配给同一个人。<br>
                每个人都要了解页面公共元素（多个页面中相同或相似部分），一个公共元素只分配到一个人，每人完成自身页面的同时完成“提取剥离”，你可能需要了解“分类方法规范”。<br>
                由于图片无法使用SVN合并和解决冲突，切图需要统筹分配。<br>
                在项目管理平台中创建细分的开发任务，填写任务详情和时间，如果任务间存在关系，则设置好关联或从属关系。</p>

                <h3 class="u-ttb3">页面开发</h3>

                <p>创建前端目录，包含“页面开发”目录（如:js、css、html、img）及“提取剥离”目录（如：demo）。<br>
                使用NEC框架创建前端文件，如：css/*.css、html/*.html、demo/grid.html、demo/module.html、demo/unit.html。<br>
                使用NEC代码库和插件，高效开发页面。<br>
                和交互、视觉及其他前端工程师或后端工程师保持良好的沟通。<br>
                及时反馈问题和建议：对效果疑问的确认、对状态缺失的补充、对优雅退化的建议、对行为结构的说明等等。<br>
                如果产取并行模式（页面开发和JS开发同时进行），则以交互原型定稿为准，JS开发工程师可并行开发业务逻辑层，当页面开发完成后再嵌入UI层。</p>

                <h3 class="u-ttb3">提取剥离</h3>

                <p>页面开发的同时提取布局（grid）、模块（module）、元件（unit）至对应的HTML文件。<br>
                避免重复劳动，对页面元素一目了然，在增加元素时首先来此目录查找是否已经实现或有相似实现而只需扩展。<br>
                “提取剥离”目录中的HTML文件和“页面开发”目录中的HTML文件需保持同步维护。</p>

            </div>
        </div>
    </div>

</div>
</body>
</html>